.colores-prenda {
  margin-top: 15px;
  width: 100%;
}

.logos-container {
  position: relative;
}

.input-numbers {
  text-align: center;
  font-size: 1.7rem;
  border: none;
  margin-top: 18px;
  background: none;
  appearance: none;
  padding: 0;
}

.input-numbers:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: none;
}

.form-label {
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.6rem;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.lapiz {
  width: 91px;
}

@media only screen and (min-width: 600px) {
  .colores-prenda {
    width: 50%;
  }

  .opciones-containter {
    margin-top: auto;
  }
}

@media only screen and (min-width: 600px) {
  .colores-prenda {
    width: 50%;
    margin-top: 50px;
  }

  .opciones-containter {
    margin-top: auto;
  }
}

@media only screen and (min-width: 992px) {
  .colores-prenda{
    margin-top: 15px;
  }
  .lapiz {
    width: 53px;
  }

  .descripcion-colores {
    margin-top: 2px;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .input-numbers {
    font-size: 1rem;
    margin-top: 5px;
    padding: 0;
  }

  .form-label {
    position: absolute;
    top: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .lapiz {
    width: 63px;
  }

  .descripcion-colores {
    top: 60px;
  }

  .input-numbers {
    font-size: 1.2rem;
  }

  .form-label {
    position: absolute;
    top: 38px;
  }
}

@media only screen and (min-width: 1400px) {
  .colores-prenda{
    margin-top: 50px;
  }
  .lapiz {
    width: 93px;
  }

  .input-numbers {
    font-size: 1.7rem;
    margin-top: 20px;
  }

  .form-label {
    position: absolute;
    top: 68px;
    font-size: 0.65rem;
  }
  .descripcion-colores {
    margin-top: 11px;
  }
}
