.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.app-container{
  display: flex;
  flex-direction: column;
  min-width: 321px;
}

.options-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.cotizacion-container{
  position: relative;

}

.fondo-logo{
  display: none;
}

.rotacion-logo{
  display: none;
}

.inter{
  font-family: inter;
}

.rotacion-full{
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
}

@media only screen and (min-width: 992px) {
  h5{
    font-size: 1rem;
  }

  p{
    line-height: 10px;
 
  }

  .app-container{
    flex-direction: row;
  }

  .options-container{
    min-height: 480px;
    
    height: calc(100vh - 130px);
  }

  .cotizacion-container{
    min-height: 390px;
    height: calc(100vh - 130px);
    position: relative;
  }

 

  .rotacion0-logo{
    opacity: 100%;
    transform: rotate(360deg);
    transition: 2s;

  }
  .rotacion1-logo{
    transform: rotate(0deg);
    opacity: 20%;
    transition: 2s;

  }

  .rotacion-full{
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  

}

@media only screen and (min-width: 1400px) {
  
  .options-container{
    min-height: 730px;
    height: calc(100vh - 130px);
  }

  .cotizacion-container{
    min-height: 730px;
  } 

}