.container-cotizar {
  max-width: 360px;
}

.checkbox-container {
  max-height: 40px;
}

.valor-dolar {
  text-align: center;
}

.btn-cotizar {
  background-color: #e1a325;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.non-clickable {
  pointer-events: none;
}

.cotizacion-label {
  font-size: 1rem;
}

.boton-prueba {
  text-decoration: none;
}

.card-subtitle {
  color: #e1a325;
}

.btn {
  color: white;
}

@media only screen and (min-width: 992px) {
  .container-cotizar {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .checkbox-container {
    width: 200px;
  }

  .non-clickable {
    font-size: 0.63rem;
  }

  .valor-dolar {
    width: 200px !important;
    height: 40px !important;
  }

  .cotizacion-label {
    font-size: 0.63rem;
  }

  .btn-cotizar {
    width: 200px;
    height: 40px;
    padding: 3px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .checkbox-container {
    width: 250px;
  }

  .non-clickable {
    font-size: 0.85rem;
  }

  .valor-dolar {
    width: 250px !important;
    height: 40px !important;
  }

  .cotizacion-label {
    font-size: 0.85rem;
  }

  .btn-cotizar {
    width: 250px;
    height: 40px;
    padding: 3px;
    font-size: 1rem;
  }
}
